/* ALL ITEMS */
* {
    color:white;
    text-transform: uppercase;
    font-weight: lighter;
}

/* BODY */
body {
    display:flex;
    flex-wrap: wrap;
}

/* HEADER */
header {
    background-color: red;
    flex-basis:100%;
}

/* SECTIONS */

.left {
    background-color: green;
    flex-basis:25%;
}

.middle {
    background-color: blue;
    flex-basis:50%;
}

.right {
    background-color: pink;
    flex-basis:25%;
}

/* FOOTER */
footer {
    background-color:rgb(133, 21, 185);
    flex-basis:100%;
}

/* LAYOUT */
@media screen and (max-width: 992px) {
    .middle {
    flex-basis:75%;
    }
    .right {
    flex-basis:25%;
    }
    .left {
    flex-basis:100%;
    order:1;
    }

    footer {
        order:1;
    }
}

@media screen and (max-width: 768px) {
    .middle {
    flex-basis:100%;
    }
    .right {
    flex-basis:100%;
    }
    .left {
    flex-basis:100%;
    order:0;
    }
}